<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <test verbose="2" preserve-order="true" name="D:/SeleniumFrameWorks/GitHubSumitraut01/MavenWork/src/test">
        <classes>
            <class name="org.example.Module1.Module1Tests">
                <methods>
                    <include name="Test1"/>
                </methods>
            </class>
            <class name="org.example.Module2.Module2Tests">
                <methods>
                    <include name="Test1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
